<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2Boomer_AppSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2Boomer_AppSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <D2Boomer_AppSettings.Properties.Settings>
            <setting name="Diablo2_Path" serializeAs="String">
                <value>C:\Program Files (x86)\Diablo II\</value>
            </setting>
            <setting name="D2B_OutputPath" serializeAs="String">
                <value />
            </setting>
        </D2Boomer_AppSettings.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <D2Boomer_AppSettings.Properties.Settings>
            <setting name="RequiredTxtFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Sets</string>
                        <string>UniqueItems</string>
                        <string>SetItems</string>
                        <string>Armor</string>
                        <string>Gems</string>
                        <string>Weapons</string>
                        <string>Misc</string>
                        <string>Skills</string>
                        <string>MonStats</string>
                        <string>Runes</string>
                        <string>ItemStatCost</string>
                        <string>MagicPrefix</string>
                        <string>Properties</string>
                        <string>MagicSuffix</string>
                        <string>ItemTypes</string>
                        <string>CharStats</string>
                        <string>NPC</string>
                        <string>CubeMain</string>
                    </ArrayOfString>
                </value>
            </setting>
        </D2Boomer_AppSettings.Properties.Settings>
    </applicationSettings>
</configuration>